.sign {
    float:right;
    margin: auto 10px;
    line-height: 3;
}
header{
    height: 60px;
    background-color: black;
    color: white;
    padding: 0;
}
main{
    height: 1000px;
    background-image: url(double-bubble-outline.png);
}
footer{
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    line-height: 500%;
}
form{
    text-align: center;
    font-size: 20px;
}
button{
    width: 150px;
    height: 30px;
    font-size: 15px;
}
a{text-decoration: none;}